.box2 {
    margin-top: 60px;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(214,59,93);
    background: linear-gradient(90deg, rgba(214,59,93,1) 0%, rgba(248,123,15,1) 100%);
   
  }.box2 img{
    width: 360px;
    height: 360px;
    border-radius: 50%;
  }