.Header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--title);
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.2);
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, rgba(214,59,93,1) 0%, rgba(248,123,15,1) 100%);
  border-image-slice: 1
}

.nav_links li {
  font-weight: bold;
  display: inline-flex;
  padding: 20px;
}

.nav_links li a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  font-size: 1.15rem;
  transition: .2s all;
  border-radius: 30px;
}

.nav_links li a:hover {
  width: 100px;
  color: var(--title);
  text-align: center;
  background-color: var(--white);
  border-radius: 50px;
  padding: 10px;
}




